# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    chown system graphics /sys/devices/virtual/graphics/fb0/SRGB
    chown system graphics /sys/devices/virtual/graphics/fb0/DCI_P3
    chmod 0666 /sys/devices/virtual/graphics/fb0/SRGB
    chmod 0666 /sys/devices/virtual/graphics/fb0/DCI_P3

# Set sRGB calibration on Natural and Boosted Mode
on property:persist.sys.sf.native_mode=0
    write /sys/devices/virtual/graphics/fb0/DCI_P3 0
    write /sys/devices/virtual/graphics/fb0/SRGB 1

# Set unmanaged calibration on Saturated Mode
on property:persist.sys.sf.native_mode=1
    write /sys/devices/virtual/graphics/fb0/SRGB 0
    write /sys/devices/virtual/graphics/fb0/DCI_P3 0

# Set P3 calibration on Adaptive/Automatic Mode
on property:persist.sys.sf.native_mode=2
    write /sys/devices/virtual/graphics/fb0/SRGB 0
    write /sys/devices/virtual/graphics/fb0/DCI_P3 1
