<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.overlay.oneplus5"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
                android:requiredSystemPropertyName="ro.product.vendor.device"
		android:requiredSystemPropertyValue="OnePlus5"
		android:priority="800"
		android:isStatic="true" />
</manifest>
