# rootfs
type adsprpcd_file, file_type;
type bt_firmware_file, file_type, contextmount_type, vendor_file_type;
type firmware_file, file_type, contextmount_type, vendor_file_type;
type persist_file, file_type;

# proc
type proc_touchpanel, fs_type, proc_type;

# sys
type sysfs_diag, fs_type, sysfs_type;
type sysfs_oem, sysfs_type, fs_type;
type sysfs_battery_supply, sysfs_type, fs_type;
type sysfs_poweron_alarm, fs_type, sysfs_type;

# wifi data file
type wifi_vendor_data_file, file_type, data_file_type;

