allow hal_wifi_default proc_net:file write;

# allow hal_wifi to write into /data/vendor/tombstones/wifi
userdebug_or_eng(`
  allow hal_wifi_default vendor_tombstone_data_file:dir rw_dir_perms;
  allow hal_wifi_default vendor_tombstone_data_file:file create_file_perms;
')
