allow hal_camera persist_file:dir w_dir_perms;
allow hal_camera persist_file:file create_file_perms;
allow hal_camera persist_file:lnk_file { read };

allow hal_camera sysfs:file { r_file_perms };
