allow init proc:file write;
allow init vendor_overlay_file:file mounton;
allow init vendor_file:file execute;

allow init {
     sysfs_devfreq
     sysfs_scsi_host
     sysfs_msm_perf
     sysfs_graphics
}:dir r_dir_perms;

allow init {
     sysfs_devfreq
     sysfs_scsi_host
     sysfs_msm_perf
     sysfs_graphics
}:file rw_file_perms;

allow init iop_data_file:file { lock ioctl };
allow init hal_perf_hwservice:hwservice_manager { find };
allow init hal_iop_hwservice:hwservice_manager { find };
allow init device_latency:chr_file rw_file_perms;
allow init hidl_base_hwservice:hwservice_manager { add };
