# diag device node access is restricted to untrusted_app
neverallow untrusted_app_all diag_device:chr_file rw_file_perms;

get_prop(untrusted_app_all, persist_camera_prop)
allow untrusted_app_all persist_camera_prop:file { read open };
