on init
    mkdir /dev/cpuset/little
    copy /dev/cpuset/cpus /dev/cpuset/little/cpus
    copy /dev/cpuset/mems /dev/cpuset/little/mems
    chown system system /dev/cpuset/little/tasks
    chmod 0664 /dev/cpuset/little/tasks

    mount none /product/overlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_circle/OnePlusIconShapeCircleOverlay.apk bind
    mount none /product/overlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_roundedrect/OnePlusIconShapeRoundedRectOverlay.apk bind
    mount none /product/overlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_square/OnePlusIconShapeSquareOverlay.apk bind
    mount none /product/overlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_squircle/OnePlusIconShapeSquircleOverlay.apk bind
    mount none /product/overlay/EmptyOverlay.apk /vendor/overlay/oneplus_shape_teardrop/OnePlusIconShapeTeardropOverlay.apk bind

    # Set boottime stune value
    write /dev/stune/schedtune.boost 100
    # set default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

on post-fs-data
    # For oneplus camera hal
    mkdir /data/misc/camera 775 system system
    write /data/misc/camera/client_package_name "com.oneplus.camera"
    chmod 0444 /data/misc/camera/client_package_name
