<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.pa.overlay.msm8998common"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
		android:priority="700"
		android:isStatic="true" />
</manifest>
